{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/update.css' %}">
    <link rel="stylesheet" href="{% static 'css/donate.css' %}">

    <title>Update</title>
    <style>
        .form {
            position: fixed;
            top: 90px;
            left: 410px;
            width: 550px;
            background-color: #ffffff;
            border-radius: 10px;
            align-items: center;
            padding: 5%;
        }

    </style>
</head>

<body>
    <div class="form">
        <center>
            <h2><u>Update Form</u></h2>
            <fieldset>
                <legend>Update Information</legend>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
            </fieldset>
            <input type="submit" value="UPDATE">

            </form>

        </center>
    </div>



</body>

</html>
