<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
</head>
<body>
    <form action="predict" method="POST">
        <label for="">Age:</label>
        <input type="text" name="age">
        <label for="">Height:</label>
        <input type="text" name="height">
        <label for="">Weight:</label>
        <input type="text" name="weight">
        <br>
        <input type="Submit" value="Submit">
    </form>
    result=
    
    
</body>
</html>
