{% extends 'base.html' %}
{% load static %}
{% block body_content %}

    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Services</h2>
              
            </div>
        </div>
    </div>

    <section class="events">
        <div class="container">
           
            <div class="event-ro row">
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="assets/images/events/image_08.jpg" alt="">
                        <h4>Child Education in Jumla</h4>
                        
                        <p class="raises"><span>Raised Rs: 10,00,000</span> </p>
                        <p class="desic">Library Books and Laboratory</p>
                        <button class="btn btn-success btn-sm"><a href="https://esewa.com.np/#/home">Donate Now</a></button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="assets/images/events/image_06.jpg" alt="">
                        <h4>Health Sectors in Karnali Zone</h4>
                        <p class="raises"><span>Raised Rs: 15,00,000</span></p>
                        <p class="desic">Covid 19 preacutions, Medicine, Phramacy Established.</p>
                        <button class="btn btn-success btn-sm"><a href="https://esewa.com.np/#/home">Donate Now</a></button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="assets/images/events/image_04.jpg" alt="">
                        <h4>Orphans and Rehabilitation Center, Lalitpur</h4>
                        <p class="raises"><span>Raised Rs: 20,00,000</span> </p>
                        <p class="desic">Helpful and Treatment for them. </p>
                        <button class="btn btn-success btn-sm"><a href="https://esewa.com.np/#/home">Donate Now</a></button>
                    </div>
                </div>
                
            </div>
        </div>
    </section>   
      

{% endblock %}
