{% extends 'base.html' %}
{% load static %}

{% block body_content %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">

    <title>Donation Management System</title>
</head>

<body>
    {% if user.is_authenticated %}
    <br>
    <h4>
        <p style="color: #51be78; margin: 15px; left: 10;"> Welcome {{user.email}}</p>
    </h4>

    <table class="table" id="report" border="1" style="overflow-x:auto;" cellpadding="0" cellspacing="0">
        <button onclick="makePdf()" type="button" class="btn btn-primary float-right" style="
    margin-bottom: 20px;
">Print</button>
        {% if info.Receive %}
        <thead>
            <tr>
                <th scope="col">S.N.</th>
                <th scope="col">user id</th>
                <th scope="col">contact</th>
                <th scope="col">address</th>
                <!-- <th scope="col">userpic</th> -->
                <th scope="col">regdate</th>
                <th scope="col">items</th>
                <th scope="col">description</th>
                <th scope="col">status</th>
            </tr>
        </thead>



        <tbody>

            <tr>
                <th scope="row">1</th>
                <td>{{info.userid}}</td>
                <td>{{info.contact}}</td>
                <td>{{info.address}}</td>
                <!-- <td>{{info.userpic}}</td> -->
                <td>{{info.regdate}}</td>

                <td>{{info.items}}</td>

                <td>{{info.description}}</td>
                <td>{{info.status}}</td>

            </tr>
            {% else %}
            <thead>
                <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">user id</th>
                    <th scope="col">contact</th>
                    <th scope="col">address</th>
                    <!-- <th scope="col">userpic</th> -->
                    <th scope="col">regdate</th>
                    <th scope="col">items</th>
                    <th scope="col">description</th>
                    <th scope="col">status</th>
                    <th scope="col">Action</th>


                </tr>
            </thead>

            <tr>
                <th scope="row">1</th>
                <td>{{info.userid}}</td>
                <td>{{info.contact}}</td>
                <td>{{info.address}}</td>
                <!-- <td>{{info.userpic}}</td> -->
                <td>{{info.regdate}}</td>

                <td>{{info.items}}</td>

                <td>{{info.description}}</td>
                <td>{{info.status}}</td>

                <td>
                    <a href="/donor_update/donor/{{info.id}}"><i class="bi bi-pencil-square text-warning"></i></a>
                    &nbsp;
                    <a href="/donor_delete/donor/{{info.id}}"><i class="bi bi-trash-fill text-danger"></i></a>
                </td>

            </tr>

        </tbody>

        <span>
            <center>
                <h5>
                    <p style="color: red;">Please fill the form to donate something, Click on Donate. <i
                            class="bi bi-arrow-down-square-fill"></i></p>
                </h5>
        </span>
        <h4>Click Here <a href="/add_donor"><button style="display:             inline-block;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999">Donate</button></a></h4><br>







        </center>
        {% endif %}
        {% endif %}

    </table>


    <script>
        function makePdf() {
            var printMe = document.getElementById('report');
            var wme = window.open("", "", "width:700,height:900");
            wme.document.write(printMe.outerHTML);
            wme.document.close();
            wme.focus();
            wme.print();
            wme.close();
        }
    </script>


</body>

</html>


{% endblock %}
