{% load static %}
<header class="continer-fluid ">
    <div class="header-top">
        <div class="container">
            <div class="row col-det">
                <div class="col-lg-6 d-none d-lg-block">
                    <ul class="ulleft">
                        <li>
                            <a href="https://mail.google.com/"><i class="far fa-envelope"></i>
                            skathariya35@gmail.com</a>
                            <span>|</span>
                        </li>
                        <li>
                            <a href="tel:9860956889" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});"><p class="call-button">Click to Call</p><i class="fas fa-phone-volume"></i></a>
                            +977 9815699760 / 9865688354
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 folouws">

                    <ul class="ulright">
                        <li> <small>Folow Us </small>:</li>
                        <li>
                            <a href="https://www.facebook.com/"> <i class="fab fa-facebook-square"></i> </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/home"><i class="fab fa-twitter-square"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 d-none d-md-block col-md-6 btn-bhed">
                    {% if user.is_authenticated %}
                    <button class="btn btn-sm btn-success"><a href="{% url 'donation:logout' %}">{{user.email}}Logout</a></button><br>
                    <div><button class="btn btn-sm btn-success"><a href="{% url 'donation:welcome' %}">Donate</a></button></div>
                    {% else %}
                    <div><button class="btn btn-sm btn-success"><a href="{% url 'donation:signin' %}">Login</a></button></div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div id="menu-jk" class="header-bottom">
        <div class="container">
            <div class="row nav-row">
                <div class="col-lg-3 col-md-12 logo">
                    <a href="index.html">
                        <img src="{% static 'images/logo/donation.png' %}" alt="" width="200px" height="95px">
                        <!-- <a data-toggle="collapse" data-target="#menu" href="#menu"><i>
                                class="fas d-block d-lg-none  small-menu fa-bars"></i></a> -->
                    </a>

                </div>
                <div id="menu" class="col-lg-9 col-md-12 d-none d-lg-block nav-col">

                    <ul class="navbad">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'donation:home' %}">Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'donation:about' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'donation:services' %}">Services</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'donation:gallery' %}">Gallery</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'donation:contact' %}">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'donation:qr_code' %}">QR Code</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'donation:predict' %}">Predict</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
